*{
    margin: 0;
    padding: 0;
}
span{
    color: red;
}

.header{
    background-image:linear-gradient(rgb(0,0,0,0.7),rgb(0,0,0,0.7)) ,url("./one-page-website-html-css-project-master/img/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.header ul li{
    position: relative;
    left: 80%;
}
.header .navbar-brand{
    position: relative;
    right: 5%;
    font-size: 30px;
    color: #fff;

}
.header .navbar-brand span{
    color: red;
}
.header ul li a{
    color: #fff;
    font-size: 20px;
    transition: 0.4s ease;
}
.header ul li a:hover{
    color: red;
}
.header-text{
    margin-top: 60px;

}
.header-text h1{
    color: #fff;
    font-size: 70px;
}
.header-text a{
    text-decoration: none;
    color: #fff;
    padding: 15px 50px;
    border: 1px solid #d1173c;
    font-size: 30px;
    transition: 0.4s ease;
}
.header-text a:hover{
    background-color: #d1173c;
}



/* ########################################################### */


.hero{
    height: 100vh;
    width: 100%;
}
.hero .container{
    text-align: center;
}
.service-top h1{
    padding-top: 30px;
    font-size: 60px;
}
.hero .service-bottom{
    display: inline-flex;
}
.hero .service-item{
    background-image: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)),url("./one-page-website-html-css-project-master/img/img-1.png");
    background-position: center;
    background-size: cover;
    margin: 10px;
    margin-top: 30px;
    border-radius: 10px;
    padding-top: 50px;
    padding-left: 30px;
    text-align: left;

}
.hero .service-item .icon{
    position: relative;
    bottom: 7%;
}
.hero .service-item h2{
    color: #fff;
    font-size: 30px;
}

.hero .service-item p{
    color: #fff;
}
@media (max-width:799px){
    .navbar-toggler{
        border: solid #fff 1px;
        border-radius: 20px;
        padding: 10px;
    }
    #nav-icon{
        color: #fff;
        font-size: 30px;
        
    }
    .header-text{
        padding-top: 40px;
    }
    .header-text h1{
        font-size: 40px;
    }
    .header-text a{
        font-size: 20px;
    }



    .service-top h1{
        font-size: 40px;
    }
    .hero .service-bottom{
        display:contents ;
        
    }
    .hero .service-item{
        margin-top: 60px;
        background-image: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)),url("./one-page-website-html-css-project-master/img/img-1.png");
    background-position: center;
    background-size: cover;
    width: 80%;
    padding-top: 30px;
    margin-left: 40px;
    
    }
    .hero .service-item .icon{
        padding-bottom: 20px;
    }
    .hero .service-item h2{
        font-size: 20px;
        padding-bottom: 10px;
    }
    .hero .service-item p{
        padding-bottom: 10px;
    }
    
}


/* ########################################################## */
.about{
    height: 100vh;
}
.about-items{
    padding-top: 100px;
    display: inline-flex;
}
.about-items .about-info{
    margin-left: 20px;

}
.about-items .about-info h1{
    font-size: 50px;
    font-weight: 400;
}
.about-items .about-info p{
    padding-bottom: 40px;
}
.about-items .about-info a{
    text-decoration: none;
    color: #000;
    border: red 3px solid;
    background-color: #fff;
    padding: 20px 30px;
    transition: 0.4s ease;
    font-size: 20px;
}
.about-items img{
    width: 300px;
	height: 380px;

}
.about-items .about-info a:hover{
    background-color: red;
    color: #fff;
}
@media (max-width:799px){
    .about{
        height: 270vh;
    }
    .about-items{
        padding-top: 1200px;
        display:grid;
    }
    .about img{
        width: 200px;
	height: 280px;
    margin-left: 130px;
    padding-bottom: 10px;
    }
    .about-items .about-info {
        text-align: center;
    }
    .about-items .about-info h1{
        font-size: 32px;
        padding-bottom: 10px;
    }
    .about-items .about-info h5{
        font-size: 20px;
    }
    .about-items .about-info a{
        padding: 10px 15px;
    }
}

.contact{
    height: 70vh;
}
.contact .container{
    text-align: center;
}
.contact-all{
    display: inline-flex;
}
.contact .container h1{
    padding-bottom: 20px;
    font-size: 70px;
}
.contact .contact-item{
    display: inline-flex;
    padding: 30px 40px;
    text-align: left;
    margin-left: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 5px 13px 7px rgba(0,0,0,0.17); 
box-shadow: 2px 5px 13px 7px rgba(0,0,0,0.17);
cursor: pointer;
transition: 0.2s ease;
    
}
.contact .contact-item:hover{
    -webkit-box-shadow: 2px 5px 13px 7px rgba(0,0,0,0.10); 
box-shadow: 2px 5px 13px 7px rgba(0,0,0,0.10);
}
.contact .contact-item img{
    width: 80%;
}
@media (max-width:799px){
    .contact{
        height: 220vh;
    }
    .contact .container{
        padding-top: 500px;
    }
    .contact .container h1{
        font-size: 35px;
    }
    .contact-all{
        display:grid;
    }
    .contact .contact-all{
        margin-left: 85px;
    }
    .contact .contact-item{
        width: 70%;
        text-align: center;
        padding: 30px 0px;
        display: grid;
        margin-top: 20px;
    }
    .contact .contact-item img{
        width: 30%;
    }

}
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */


.footer{
    height: 40vh;
    background-color: #3f4b58;
}
.footer .container{
    text-align: center;
    padding-top: 30px;
}
.footer .container h1{
    font-size: 30px;
    color: #fff;
}
.footer .container h4{
    font-size: 20px;
    color: #fff;
    padding-bottom: 10px;
    padding-top: 10px;
}
.social-icon img{
    width: 5%;
    padding-bottom: 20px;
}

.footer .container p{
    color: rgb(172, 169, 169);
}
@media (max-width:799px){
    .social-icon img{
        width: 15%;
    }
}
